/* =============================================================
 * xpertxacrodion.css v1.0
 * http://www.themexpert.com
 * =============================================================
 * Copyright 2010-2012 ThemeXpert
 *
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ============================================================ */

/* root element for xacordion. decorated with rounded borders and gradient background image */
.xac-wrapper{width: 100%;}
.xac-trigger {
    padding: 6px 0;
    margin: 0;

    span {
        color: #4a4a4a;
        text-decoration: none;
        display: block;
        padding: 0 10px;
        font-size: .8em;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            outline: none;
        }
    }

    &:hover{background: url(../images/arrow-down.png) no-repeat 98% 50%;}
    &.active:hover{background: url(../images/arrow-up.png) no-repeat 98% 50%;}

    &.active {}
    &.active span {}
}

.xac-container {
    padding: 10px;
    margin: 0;
    overflow: hidden;
    font-size: 1.2em;
    clear: both;

    img{margin:0 10px 10px 0; float: left;}
}

//Responsive

/*Handheld Devices*/
@media only screen and (max-width:479px) {
    .xac-wrapper{max-width: 390px; width: 100%;}
}
/*Tablet*/
@media only screen and (min-width: 478px) and (max-width:735px){
    .xac-wrapper{max-width: 730px; width: 100%;}
}

@media only screen and (min-width:736px) and (max-width: 985px){
    .xac-wrapper{max-width: 800px; width: 100%;}
}


//Basic
.basic.xac-wrapper{border: 1px solid #eee}
.basic .xac-trigger, .basic .xac-container{border-bottom: 1px solid #eee}
.basic .xac-trigger.active{background-color: #f5f5f5}

//Line
.line .xac-trigger{border-bottom: 1px solid #eee }

//Elegant
.elegant .xac-trigger{
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)),to(rgb(234, 234, 234)));
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(234, 234, 234));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(234, 234, 234));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(234, 234, 234));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(234, 234, 234));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(234, 234, 234));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#eaeaea');
    box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 1px 0 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 1px 0 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 1px 0 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    color: #777;

    &:hover{background: url(../images/arrow-down.png) no-repeat 98% 50%;}
    &.active{background: #C6E1EC}
    &.active:hover{background: #C6E1EC url(../images/arrow-up.png) no-repeat 98% 50%;}
}
.elegant .xac-container{
    box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
    -webkit-box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
    -moz-box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
}

//FAQ's
.faq .xac-trigger{
    border-bottom: 1px dashed #eee;

    span{
        background: url(../images/question.png) no-repeat 0 50%;
        padding-left: 20px;
    }
}