/* =============================================================
 * xpertxacrodion.css v1.0
 * http://www.themexpert.com
 * =============================================================
 * Copyright 2010-2012 ThemeXpert
 *
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ============================================================ */
/* root element for xacordion. decorated with rounded borders and gradient background image */
.xac-wrapper {
  width: 100%;
}
.xac-trigger {
  padding: 6px 0;
  margin: 0;
}
.xac-trigger span {
  color: #4a4a4a;
  text-decoration: none;
  display: block;
  padding: 0 10px;
  font-size: .8em;
  cursor: pointer;
}
.xac-trigger span:hover,
.xac-trigger span:focus,
.xac-trigger span:active {
  outline: none;
}
.xac-trigger:hover {
  background: url(../images/arrow-down.png) no-repeat 98% 50%;
}
.xac-trigger.active:hover {
  background: url(../images/arrow-up.png) no-repeat 98% 50%;
}
.xac-container {
  padding: 10px;
  margin: 0;
  overflow: hidden;
  font-size: 1.2em;
  clear: both;
}
.xac-container img {
  margin: 0 10px 10px 0;
  float: left;
}
/*Handheld Devices*/
@media only screen and (max-width: 479px) {
  .xac-wrapper {
    max-width: 390px;
    width: 100%;
  }
}
/*Tablet*/
@media only screen and (min-width: 478px) and (max-width: 735px) {
  .xac-wrapper {
    max-width: 730px;
    width: 100%;
  }
}
@media only screen and (min-width: 736px) and (max-width: 985px) {
  .xac-wrapper {
    max-width: 800px;
    width: 100%;
  }
}
.basic.xac-wrapper {
  border: 1px solid #eeeeee;
}
.basic .xac-trigger,
.basic .xac-container {
  border-bottom: 1px solid #eeeeee;
}
.basic .xac-trigger.active {
  background-color: #f5f5f5;
}
.line .xac-trigger {
  border-bottom: 1px solid #eeeeee;
}
.elegant .xac-trigger {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
  background-image: linear-gradient(top, #ffffff, #eaeaea);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eaeaea');
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 1px 0 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 1px 0 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 1px 0 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  color: #777;
}
.elegant .xac-trigger:hover {
  background: url(../images/arrow-down.png) no-repeat 98% 50%;
}
.elegant .xac-trigger.active {
  background: #c6e1ec;
}
.elegant .xac-trigger.active:hover {
  background: #c6e1ec url(../images/arrow-up.png) no-repeat 98% 50%;
}
.elegant .xac-container {
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
  -webkit-box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
  -moz-box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
}
.faq .xac-trigger {
  border-bottom: 1px dashed #eee;
}
.faq .xac-trigger span {
  background: url(../images/question.png) no-repeat 0 50%;
  padding-left: 20px;
}
